@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: white;
}
p {
  color: black;
}
input {
  color: black;
}
.btn-primary {
  @apply text-white;
}
.fade-in {
  opacity: 0;
  animation: fadeAnim 1s ease-in-out forwards;
}

@keyframes fadeAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
